@model IEnumerable<DienChanOnline.Models.Customer>
@{
    ViewBag.Title = "Customer List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Danh Sách Khách Hàng</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Tên</th>
            <th>Email</th>
            <th>Xóa</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/customer/editform/en/@item.Id">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Xóa", "Delete", new { id = item.Id, guidInfo = item.Id }, new { onclick = "return confirm('Bạn có chắc chắn muốn xóa khách hàng này không?')" })
            </td>
        </tr>
    }
</table>
<div>
    <a href="@Url.Action("Index", "Form")">
        Quay Trở Về
    </a>
</div>
